.socialmedia-container {
  background-color: #80A682;
  height: auto;
  border-bottom-right-radius: 20px;
}
.portfolio-container {
  background-color: #415D43 ;
  height: auto;
  padding-bottom: 30px;
  border-bottom-right-radius: 20px;
}
.about-container {
  background-color: #1E381F ;
  height: auto;
  border-bottom-right-radius: 20px;
}
.main-container {
  background-color: #010F01 ;
  height: 115vh;
  border-bottom-right-radius: 20px;
}
.main-content {
  padding-top: 400px;
}

